@font-face {
  font-family: 'Myriad Pro';
  src: url("../fonts/MyriadPro-Bold.woff2") format("woff2"), url("../fonts/MyriadPro-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Foundry Sterling OT3';
  src: url("../fonts/FoundrySterlingOT3-Medium.woff2") format("woff2"), url("../fonts/FoundrySterlingOT3-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Foundry Sterling OT3';
  src: url("../fonts/FoundrySterlingOT3-Book.woff2") format("woff2"), url("../fonts/FoundrySterlingOT3-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url("../fonts/MyriadPro-Regular.woff2") format("woff2"), url("../fonts/MyriadPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Foundry Sterling OT3';
  src: url("../fonts/FoundrySterlingOT3-Bold.woff2") format("woff2"), url("../fonts/FoundrySterlingOT3-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Foundry Sterling OT3 Demi';
  src: url("../fonts/FoundrySterlingOT3-Demi.woff2") format("woff2"), url("../fonts/FoundrySterlingOT3-Demi.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url("../fonts/MyriadPro-Semibold.woff2") format("woff2"), url("../fonts/MyriadPro-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

*:after,
*:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Foundry Sterling OT3 Demi';
  background: #212121;
  overflow-x: hidden;
}

.flex {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.clearfix:after {
  clear: both;
}

.overflow {
  overflow: hidden;
}

table {
  border-collapse: collapse;
  width: 100%;
}

ol li,
ul li {
  list-style: none;
}

img {
  vertical-align: bottom;
}

input {
  width: 100%;
  display: inline-block;
  border: none;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

button {
  display: block;
  border: none;
  background: none;
  cursor: pointer;
}

.test {
  border: 5px solid red;
}

p {
  color: #ffffff;
  font-size: 24px;
  font-weight: 500;
  font-family: 'Foundry Sterling OT3';
  margin-bottom: 15px;
}

p:last-child {
  margin-bottom: 0;
}

a {
  -webkit-transition: cubic-bezier(0.43, 0, 0.03, 1) color 1s;
  -o-transition: cubic-bezier(0.43, 0, 0.03, 1) color 1s;
  transition: cubic-bezier(0.43, 0, 0.03, 1) color 1s;
}

.page-header {
  position: fixed;
  left: 0;
  top: 53px;
  right: 0;
  z-index: 5;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 0 80px;
}

.logo {
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  font-family: 'Foundry Sterling OT3';
  color: #ffffff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo .icon {
  font-size: 92px;
  height: 31px;
  margin-right: 29px;
}

.legacy {
  background: #ff5722;
  height: 100vh;
  padding-top: 320px;
}

.legacy__content {
  position: relative;
  z-index: 5;
  margin-top: -55px;
}

.legacy__x {
  font-size: 700px;
  color: #00bcd4;
  position: absolute;
  left: 50%;
  top: 43px;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.legacy__h1 {
  font-family: 'Foundry Sterling OT3';
  color: #ffffff;
  font-size: 196px;
  line-height: 0;
  position: relative;
  z-index: 5;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-bottom: 60px;
}

.legacy__10 {
  -webkit-transform: translateY(6px);
      -ms-transform: translateY(6px);
          transform: translateY(6px);
  height: 138px;
  margin: 0 60px 0 63px;
}

.social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.social__link {
  font-size: 20px;
  color: #ffffff;
  margin-left: 50px;
  -webkit-transition: cubic-bezier(0.43, 0, 0.03, 1) color 1s;
  -o-transition: cubic-bezier(0.43, 0, 0.03, 1) color 1s;
  transition: cubic-bezier(0.43, 0, 0.03, 1) color 1s;
}

.social__link:first-child {
  margin-left: 0;
}

.social__link:hover {
  color: #4d75a3;
}

.menu {
  position: static;
  z-index: 5;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 400px;
  margin: 0 auto;
}

.menu__link {
  font-family: 'Foundry Sterling OT3';
  color: #ffffff;
  font-size: 18px;
}

.menu--fixed {
  position: fixed;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.scroll-me {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  position: absolute;
  left: 48px;
  bottom: 56px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
}

.scroll-me__text {
  font-size: 18px;
  letter-spacing: 1px;
  color: #ffffff;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.scroll-me .icon {
  color: #ffffff;
  font-size: 33px;
  margin-top: 20px;
  -webkit-transform: translateX(2px);
      -ms-transform: translateX(2px);
          transform: translateX(2px);
}

.scroll-section {
  position: relative;
  z-index: 1;
  background: #212121;
}

.scroll-section__title {
  font-size: 196px;
  font-family: 'Foundry Sterling OT3';
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
  position: absolute;
  left: 0;
  top: 100px;
  width: 100vw;
  padding-left: 100px;
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: cubic-bezier(0.43, 0, 0.03, 1) left 0.5s, cubic-bezier(0.43, 0, 0.03, 1) color 1s;
  -o-transition: cubic-bezier(0.43, 0, 0.03, 1) left 0.5s, cubic-bezier(0.43, 0, 0.03, 1) color 1s;
  transition: cubic-bezier(0.43, 0, 0.03, 1) left 0.5s, cubic-bezier(0.43, 0, 0.03, 1) color 1s;
}

.scroll-section__title:hover {
  color: #ff5722;
}

.scroll-section__content {
  width: 600px;
  position: fixed;
  left: 480px;
  top: 400px;
  min-height: 320px;
  opacity: 0;
}

.scroll-section__wrap {
  width: 100vw;
  max-width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
}

.scroll-section__fake-block {
  background: #00bcd4;
}

.scroll-section__fake-item:last-child {
  height: 1570px !important;
}

@media screen and (max-width: 1920px) and (min-width: 1441px) {
  .scroll-section body {
    background: red !important;
  }
}

.link-more {
  font-size: 48px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Foundry Sterling OT3';
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.link-more:hover {
  color: #ff5722;
}
