@charset "UTF-8";
@font-face {
  font-family: 'Oranienbaum';
  src: url("../fonts/Oranienbaum.woff2") format("woff2"), url("../fonts/Oranienbaum.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Myriad Pro';
  src: url("../fonts/MyriadPro-Bold.woff2") format("woff2"), url("../fonts/MyriadPro-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Foundry Sterling OT3';
  src: url("../fonts/FoundrySterlingOT3-Medium.woff2") format("woff2"), url("../fonts/FoundrySterlingOT3-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Foundry Sterling OT3';
  src: url("../fonts/FoundrySterlingOT3-Book.woff2") format("woff2"), url("../fonts/FoundrySterlingOT3-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Myriad Pro';
  src: url("../fonts/MyriadPro-Regular.woff2") format("woff2"), url("../fonts/MyriadPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Foundry Sterling OT3';
  src: url("../fonts/FoundrySterlingOT3-Bold.woff2") format("woff2"), url("../fonts/FoundrySterlingOT3-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Foundry Sterling OT3 Demi';
  src: url("../fonts/FoundrySterlingOT3-Demi.woff2") format("woff2"), url("../fonts/FoundrySterlingOT3-Demi.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Myriad Pro';
  src: url("../fonts/MyriadPro-Semibold.woff2") format("woff2"), url("../fonts/MyriadPro-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  cursor: none !important; }

*:after,
*:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: none !important; }

a, button {
  text-decoration: none; }

body {
  font-family: 'Foundry Sterling OT3 Demi';
  background: #212121;
  overflow-x: hidden; }

.hover {
  position: relative;
  z-index: 1500;
  position: relative;
  outline: 10px solid transparent; }
  .hover:after {
    display: block;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; }

.flex {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important; }

.clearfix:after {
  clear: both; }

.overflow {
  overflow: hidden; }

table {
  border-collapse: collapse;
  width: 100%; }

ol li,
ul li {
  list-style: none; }

img {
  vertical-align: bottom; }

input {
  width: 100%;
  display: inline-block;
  border: none; }

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor; }

button {
  display: block;
  border: none;
  background: none;
  cursor: pointer; }

.test {
  border: 5px solid red; }

p {
  color: #ffffff;
  font-size: 24px;
  font-weight: 500;
  font-family: 'Foundry Sterling OT3';
  margin-bottom: 15px; }
  p:last-child {
    margin-bottom: 0; }

a {
  -webkit-transition: cubic-bezier(0.43, 0, 0.03, 1) color 1s;
  -o-transition: cubic-bezier(0.43, 0, 0.03, 1) color 1s;
  transition: cubic-bezier(0.43, 0, 0.03, 1) color 1s; }

.page-header {
  position: fixed;
  left: 0;
  top: 53px;
  right: 0;
  z-index: 5;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 80px; }
  @media screen and (max-width: 1439px) {
    .page-header {
      padding: 0 50px; } }
  @media screen and (max-width: 1023px) {
    .page-header {
      padding: 0 40px; } }
  @media screen and (max-width: 767px) and (min-width: 0px) {
    .page-header {
      padding: 0 20px;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      top: 30px; } }

.logo {
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  font-family: 'Foundry Sterling OT3';
  color: #ffffff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-shadow: -1px 0 #ff5722, 0 1px #ff5722, 1px 0 #ff5722, 0 -1px #ff5722; }
  .logo .icon {
    font-size: 92px;
    height: 31px;
    margin-right: 29px; }
  @media screen and (max-width: 1439px) {
    .logo .icon {
      margin-right: 0;
      font-size: 48px;
      height: 16px; }
    .logo__desc {
      display: none; } }

.legacy {
  background: #ff5722;
  height: 100vh;
  min-height: 800px;
  padding-top: 320px; }
  .legacy--people {
    background: #212121; }
    .legacy--people .legacy__x {
      color: #ff5722;
      font-size: 850px; }
      .legacy--people .legacy__x:hover {
        fill: #1c1b1b !important; }
      .legacy--people .legacy__x--hover {
        -webkit-filter: #1c1b1b;
                filter: #1c1b1b; }
    .legacy--people .legacy__h1 {
      text-transform: uppercase; }
  .legacy__desc {
    font-size: 22px;
    color: #fff;
    font-weight: 600;
    font-family: 'Foundry Sterling OT3';
    line-height: 34px;
    width: 640px;
    margin-left: 49.94791666666667vw; }
  .legacy__content {
    position: relative;
    z-index: 5;
    margin-top: -55px; }
  .legacy__x {
    font-size: 700px;
    color: #00bcd4;
    position: absolute;
    left: 50%;
    top: 43px;
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    -webkit-transition: color 1s cubic-bezier(0.43, 0, 0.03, 1), fill 1s cubic-bezier(0.43, 0, 0.03, 1);
    -o-transition: color 1s cubic-bezier(0.43, 0, 0.03, 1), fill 1s cubic-bezier(0.43, 0, 0.03, 1);
    transition: color 1s cubic-bezier(0.43, 0, 0.03, 1), fill 1s cubic-bezier(0.43, 0, 0.03, 1); }
  .legacy__h1 {
    font-family: 'Foundry Sterling OT3';
    color: #ffffff;
    font-size: 196px;
    line-height: 0;
    position: relative;
    z-index: 5;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    margin-bottom: 60px; }
  .legacy__10 {
    -webkit-transform: translateY(6px);
        -ms-transform: translateY(6px);
            transform: translateY(6px);
    height: 138px;
    margin: 0 60px 0 63px; }
  @media screen and (max-width: 1439px) {
    .legacy__h1 {
      font-size: 140px; }
    .legacy__10 {
      height: 75px;
      -webkit-transform: translateY(3px);
          -ms-transform: translateY(3px);
              transform: translateY(3px); }
    .legacy__x {
      height: 589px; } }
  @media screen and (max-width: 1023px) {
    .legacy {
      padding-top: 413px; }
      .legacy__x {
        top: 160px; }
      .legacy__10 {
        margin: 0 23px; }
      .legacy__content {
        margin-top: 0; }
      .legacy__h1 {
        margin-bottom: 38px; } }
  @media screen and (max-width: 767px) and (min-width: 0px) {
    .legacy {
      height: 480px;
      min-height: auto;
      padding-top: 216px; }
      .legacy__x {
        font-size: 275px;
        height: 275px;
        top: 93px; }
      .legacy__h1 {
        font-size: 50px;
        margin-bottom: 15px; }
      .legacy__10 {
        height: 28px;
        -webkit-transform: translateY(1px);
            -ms-transform: translateY(1px);
                transform: translateY(1px);
        margin: 0 16px; } }

.social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  .social__link {
    font-size: 20px;
    color: #ffffff;
    margin-left: 50px;
    -webkit-transition: cubic-bezier(0.43, 0, 0.03, 1) color 1s;
    -o-transition: cubic-bezier(0.43, 0, 0.03, 1) color 1s;
    transition: cubic-bezier(0.43, 0, 0.03, 1) color 1s; }
    .social__link:first-child {
      margin-left: 0; }
    .social__link:hover {
      color: #4d75a3; }
  .social__link-all {
    display: none; }
  @media screen and (max-width: 1439px) {
    .social {
      margin-left: 40px; } }
  @media screen and (max-width: 1023px) {
    .social__link {
      display: none; }
    .social__link-all {
      display: inline-block; } }

.menu {
  position: static;
  z-index: 5;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 400px;
  margin: 0 auto; }
  .menu__link {
    font-family: 'Foundry Sterling OT3';
    color: #ffffff;
    font-size: 18px; }
    .menu__link.hover {
      text-shadow: -1px 0 #00bcd4, 0 1px #00bcd4, 1px 0 #00bcd4, 0 -1px #00bcd4; }
    .menu__link--scrolled:hover {
      color: #00bcd4; }
  .menu--fixed {
    position: fixed;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%); }
  .menu--static {
    top: 50px !important;
    position: fixed !important;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%); }
  @media screen and (max-width: 1439px) {
    .menu {
      width: 300px; }
      .menu--fixed {
        -webkit-transform: translateX(-60%);
            -ms-transform: translateX(-60%);
                transform: translateX(-60%); } }
  @media screen and (max-width: 1023px) {
    .menu--fixed {
      -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
              transform: translateX(-50%); }
    .menu__link {
      font-size: 14px;
      font-family: 'Foundry Sterling OT3 Demi'; } }
  @media screen and (max-width: 767px) and (min-width: 0px) {
    .menu {
      width: 191px;
      top: 30px; }
      .menu--fixed {
        width: 170px;
        top: 30px;
        -webkit-transform: translateX(-42%);
            -ms-transform: translateX(-42%);
                transform: translateX(-42%); } }

.scroll-me {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  position: absolute;
  left: 48px;
  bottom: 56px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10; }
  .scroll-me__text {
    font-size: 18px;
    letter-spacing: 1px;
    color: #ffffff;
    -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);
    text-shadow: -1px 0 #ff5722, 0 1px #ff5722, 1px 0 #ff5722, 0 -1px #ff5722; }
  .scroll-me__icon {
    display: inline-block;
    width: 20px;
    height: auto;
    margin-top: 40px;
    -webkit-transform: translateX(2px);
        -ms-transform: translateX(2px);
            transform: translateX(2px);
    text-shadow: -1px 0 #ff5722, 0 1px #ff5722, 1px 0 #ff5722, 0 -1px #ff5722; }
  @media screen and (max-width: 1439px) {
    .scroll-me__text {
      display: none; } }
  @media screen and (max-width: 767px) and (min-width: 0px) {
    .scroll-me {
      left: 17px;
      bottom: 19px; } }

.scroll-section {
  position: relative;
  z-index: 1;
  background: #212121; }
  .scroll-section__title {
    position: absolute;
    left: 0;
    top: 100px;
    width: 100vw;
    padding-left: 100px;
    -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: cubic-bezier(0.43, 0, 0.03, 1) left 0.5s;
    -o-transition: cubic-bezier(0.43, 0, 0.03, 1) left 0.5s;
    transition: cubic-bezier(0.43, 0, 0.03, 1) left 0.5s; }
  .scroll-section__title-link {
    font-size: 196px;
    font-family: 'Foundry Sterling OT3';
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    -webkit-transition: cubic-bezier(0.43, 0, 0.03, 1) color 1s;
    -o-transition: cubic-bezier(0.43, 0, 0.03, 1) color 1s;
    transition: cubic-bezier(0.43, 0, 0.03, 1) color 1s; }
    .scroll-section__title-link:hover {
      color: #ff5722; }
  .scroll-section__content {
    width: 600px;
    position: fixed;
    left: 480px;
    top: 400px;
    min-height: 320px;
    opacity: 0; }
  .scroll-section__wrap {
    width: 100vw;
    max-width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 5; }
  .scroll-section__fake-block {
    background: #00bcd4; }
  .scroll-section__fake-item:last-child {
    height: 1470px !important; }
  .scroll-section__desc {
    margin-bottom: 104px; }
    .scroll-section__desc:last-child {
      margin-bottom: 0; }
  .scroll-section__parallax-item {
    position: absolute;
    top: 0;
    color: #fff; }
    .scroll-section__parallax-item--0 {
      left: 6px;
      top: 80px;
      font-size: 800px;
      width: 700px; }
    .scroll-section__parallax-item--1 {
      right: 268px;
      top: 231px;
      font-size: 902px;
      width: 500px; }
    .scroll-section__parallax-item--2 {
      left: 84px;
      top: 1084px;
      font-size: 510px;
      width: 507px; }
    .scroll-section__parallax-item--3 {
      right: -20px;
      top: 1263px;
      font-size: 960px;
      width: 960px; }
    .scroll-section__parallax-item--4 {
      left: 162px;
      top: 1904px;
      font-size: 497px;
      width: 495px; }
    .scroll-section__parallax-item--5 {
      left: 694px;
      top: 2969px;
      font-size: 550px;
      width: 385px; }
    .scroll-section__parallax-item--6 {
      right: 339px;
      top: 2971px;
      font-size: 902px;
      width: 497px; }
  @media screen and (max-width: 1439px) {
    .scroll-section__parallax-item--0 {
      left: 0.3125vw;
      font-size: 41.66666666666667vw;
      width: 36.45833333333333vw; }
    .scroll-section__parallax-item--1 {
      right: 13.95833333333333vw;
      font-size: 46.97916666666667vw;
      width: 26.04166666666667vw; }
    .scroll-section__parallax-item--2 {
      left: 4.375vw;
      font-size: 26.5625vw;
      width: 26.40625vw; }
    .scroll-section__parallax-item--3 {
      right: -1.041666666666667vw;
      font-size: 50vw;
      width: 50vw; }
    .scroll-section__parallax-item--4 {
      left: 8.4375vw;
      width: 25.78125vw;
      font-size: 25.78125vw; }
    .scroll-section__parallax-item--5 {
      left: 36.14583333333333vw;
      font-size: 28.64583333333333vw;
      width: 20.05208333333333vw; }
    .scroll-section__parallax-item--6 {
      right: 17.65625vw;
      font-size: 46.97916666666667vw;
      width: 25.88541666666667vw; }
    .scroll-section__content {
      left: 25vw; }
    .scroll-section__title-link {
      font-size: 140px; }
    .scroll-section__content {
      top: 342px; }
    .scroll-section__desc {
      margin-bottom: 66px; } }
  @media screen and (max-width: 1023px) {
    .scroll-section__content {
      width: 500px; } }
  @media screen and (max-width: 767px) and (min-width: 0px) {
    .scroll-section__title {
      top: 160px;
      padding-left: 20px; }
    .scroll-section__content {
      top: 240px;
      left: 20px; }
    .scroll-section__title-link {
      font-size: 50px; }
    .scroll-section__desc {
      font-size: 14px;
      margin-bottom: 33px;
      width: 280px; } }
  @media screen and (min-height: 1023px) {
    .scroll-section__fake-item:last-child {
      height: 1700px !important; } }
  @media screen and (max-height: 550px) {
    .scroll-section__fake-item:last-child {
      height: 1300px !important; } }

.link-more {
  font-size: 48px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Foundry Sterling OT3';
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .link-more:hover {
    color: #ff5722; }
    .link-more:hover .link-more__icon {
      -webkit-transform: translateX(10px);
          -ms-transform: translateX(10px);
              transform: translateX(10px); }
  .link-more__icon {
    display: inline-block;
    width: 53px;
    height: 32px;
    background: url(../img/arrow-right.svg) no-repeat;
    -webkit-background-size: 100% auto;
            background-size: 100% auto;
    margin-left: 30px;
    -webkit-transition: -webkit-transform 1s cubic-bezier(0.43, 0, 0.03, 1);
    transition: -webkit-transform 1s cubic-bezier(0.43, 0, 0.03, 1);
    -o-transition: transform 1s cubic-bezier(0.43, 0, 0.03, 1);
    transition: transform 1s cubic-bezier(0.43, 0, 0.03, 1);
    transition: transform 1s cubic-bezier(0.43, 0, 0.03, 1), -webkit-transform 1s cubic-bezier(0.43, 0, 0.03, 1); }
  @media screen and (max-width: 767px) and (min-width: 0px) {
    .link-more {
      font-size: 32px; }
      .link-more__icon {
        margin-left: 20px;
        width: 34px;
        height: 21px; } }

.cursor {
  width: 15px;
  height: 15px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: #fff;
  position: fixed;
  z-index: 1000;
  -webkit-box-shadow: inset 0 0 0 0px #fff;
          box-shadow: inset 0 0 0 0px #fff;
  -webkit-transition: -webkit-box-shadow 0.5s cubic-bezier(0.43, 0, 0.03, 1);
  transition: -webkit-box-shadow 0.5s cubic-bezier(0.43, 0, 0.03, 1);
  -o-transition: box-shadow 0.5s cubic-bezier(0.43, 0, 0.03, 1);
  transition: box-shadow 0.5s cubic-bezier(0.43, 0, 0.03, 1);
  transition: box-shadow 0.5s cubic-bezier(0.43, 0, 0.03, 1), -webkit-box-shadow 0.5s cubic-bezier(0.43, 0, 0.03, 1); }
  .cursor--hover {
    width: 48px;
    height: 48px;
    background: none;
    -webkit-box-shadow: inset 0 0 0 12px #fff;
            box-shadow: inset 0 0 0 12px #fff; }
  .cursor--mouseDown {
    width: 48px;
    height: 48px;
    background: none;
    -webkit-box-shadow: inset 0 0 0 48px #fff;
            box-shadow: inset 0 0 0 48px #fff;
    -webkit-transition: 0s;
    -o-transition: 0s;
    transition: 0s; }

.xray {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transform: translate(-49%, -49%);
      -ms-transform: translate(-49%, -49%);
          transform: translate(-49%, -49%);
  width: 484px;
  height: 484px;
  background: url(../img/xray.png) no-repeat;
  -webkit-background-size: 100% auto;
          background-size: 100% auto; }

.global-wrapper--static .page-header {
  z-index: 1000; }

.global-wrapper--static .legacy {
  padding-top: 550px;
  overflow: hidden;
  height: auto; }
  .global-wrapper--static .legacy__x {
    top: 90px; }
    .global-wrapper--static .legacy__x--hover {
      color: #1c1b1b; }
  .global-wrapper--static .legacy__h1 {
    margin-bottom: 150px; }
  .global-wrapper--static .legacy + section {
    position: relative;
    z-index: 5; }

.global-wrapper--static .logo, .global-wrapper--static .scroll-me__text {
  text-shadow: -1px 0 #212121, 0 1px #212121, 1px 0 #212121, 0 -1px #212121; }

.global-wrapper--static .menu__link {
  text-shadow: none !important; }
  .global-wrapper--static .menu__link:hover {
    color: #ff5722; }

.global-wrapper--static .xray {
  background-image: url(../img/xray--orange.png); }

@media screen and (max-width: 1440px) {
  .global-wrapper--static .legacy__desc {
    font-size: 18px;
    line-height: 27px; } }

@media screen and (max-width: 1439px) {
  .global-wrapper--static .legacy {
    padding-top: 425px; }
    .global-wrapper--static .legacy__desc {
      width: 380px; }
    .global-wrapper--static .legacy__x {
      font-size: 600px;
      height: 600px; }
    .global-wrapper--static .legacy__h1 {
      margin-bottom: 127px; } }

@media screen and (max-width: 1023px) {
  .global-wrapper--static .legacy {
    padding-top: 580px; }
    .global-wrapper--static .legacy__desc {
      width: 380px;
      margin-left: 25vw; }
    .global-wrapper--static .legacy__x {
      font-size: 386px;
      height: 386px;
      top: 160px; }
    .global-wrapper--static .legacy__h1 {
      margin-bottom: 117px;
      padding-left: 9.244791666666667vw; } }

@media screen and (max-width: 767px) and (min-width: 0px) {
  .global-wrapper--static .legacy {
    padding-top: 226px; }
    .global-wrapper--static .legacy__x {
      font-size: 133px;
      height: 133px;
      top: 62px; }
    .global-wrapper--static .legacy__desc {
      width: 266px;
      font-size: 14px;
      line-height: 24px;
      margin-left: 20px; }
    .global-wrapper--static .legacy__h1 {
      margin-bottom: 50px;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      padding-left: 94px; }
  .global-wrapper--static .menu--static {
    width: 170px;
    -webkit-transform: translateX(-44%);
        -ms-transform: translateX(-44%);
            transform: translateX(-44%);
    top: 28px !important; }
  .global-wrapper--static .scroll-me {
    display: none; } }

.people-slider {
  color: #fff;
  position: relative;
  margin-bottom: 33px; }
  .people-slider__slide {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    position: relative;
    padding-top: 135px;
    padding: 135px 10.26041666666667vw 0 11.82291666666667vw;
    background: url(../img/x.svg) no-repeat center bottom;
    -webkit-background-size: 962px auto;
            background-size: 962px auto;
    height: 962px; }
  .people-slider__x {
    font-size: 962px;
    height: 962px;
    color: #1c1b1b;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    top: 33px; }
  .people-slider__img {
    width: 34.58333333333333vw;
    max-width: 616px;
    position: relative;
    z-index: 5; }
    .people-slider__img img {
      height: 600px;
      width: auto !important; }
  .people-slider__content {
    width: -webkit-calc(32.8125vw - 20px);
    width: calc(32.8125vw - 20px);
    max-width: 630px;
    position: relative;
    z-index: 5; }
    .people-slider__content > *, .people-slider__content__desc {
      padding-left: 37px; }
  .people-slider__header {
    font-size: 58px;
    line-height: 68px;
    font-weight: bold;
    font-family: 'Foundry Sterling OT3';
    margin-bottom: 46px; }
  .people-slider__position {
    font-size: 22px;
    line-height: 34px;
    font-size: 22px;
    margin-bottom: 110px; }
  .people-slider__desc-wrapper {
    overflow: hidden;
    height: 490px;
    position: relative;
    padding-left: 0; }
  .people-slider__desc {
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
    position: absolute;
    left: 0px;
    right: -20px;
    top: 0;
    padding-left: 37px;
    -ms-overflow-style: none; }
    .people-slider__desc::-webkit-scrollbar {
      display: none; }
    .people-slider__desc p {
      font-size: 22px;
      line-height: 34px;
      margin-bottom: 31px;
      padding-right: 20px; }
      .people-slider__desc p:last-child {
        margin-bottom: 0; }
    .people-slider__desc blockquote {
      position: relative; }
      .people-slider__desc blockquote:before {
        content: '„';
        display: block;
        font-size: 300px;
        color: #ff5722;
        position: absolute;
        left: -34px;
        top: -80px;
        font-family: 'Oranienbaum';
        line-height: 0;
        height: 50px; }
      .people-slider__desc blockquote p:first-child {
        position: relative;
        z-index: 5; }
  .people-slider__nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 20px;
    color: #fff;
    margin-left: 102px;
    margin-top: 25px; }
    .people-slider__nav .owl-prev, .people-slider__nav .owl-next {
      -webkit-transform: translateY(3px);
          -ms-transform: translateY(3px);
              transform: translateY(3px); }
      .people-slider__nav .owl-prev .icon, .people-slider__nav .owl-next .icon {
        -webkit-transition: color 0.4s cubic-bezier(0.43, 0, 0.03, 1);
        -o-transition: color 0.4s cubic-bezier(0.43, 0, 0.03, 1);
        transition: color 0.4s cubic-bezier(0.43, 0, 0.03, 1); }
      .people-slider__nav .owl-prev:hover, .people-slider__nav .owl-next:hover {
        color: #ff5722; }
  .people-slider .owl-prev .icon {
    -webkit-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
            transform: rotate(-180deg); }
  .people-slider__dots {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 22px;
    line-height: 35px;
    color: #484848;
    margin: 0 60px; }
  .people-slider .owl-dot {
    margin: 0 16px;
    -webkit-transition: color 0.4s cubic-bezier(0.43, 0, 0.03, 1);
    -o-transition: color 0.4s cubic-bezier(0.43, 0, 0.03, 1);
    transition: color 0.4s cubic-bezier(0.43, 0, 0.03, 1); }
    .people-slider .owl-dot.active, .people-slider .owl-dot:hover {
      color: #fff; }
  @media screen and (max-width: 1440px) {
    .people-slider__slide {
      padding-right: 203px;
      padding-left: 184px;
      -webkit-background-size: 720px auto;
              background-size: 720px auto;
      height: 720px; }
    .people-slider__img img {
      height: 618px;
      width: auto !important; }
    .people-slider__header {
      font-size: 48px;
      line-height: 58px;
      margin-bottom: 31px; }
    .people-slider__position {
      font-size: 18px;
      line-height: 27px;
      margin-bottom: 63px; }
    .people-slider__desc-wrapper {
      height: 339px; }
    .people-slider__desc p {
      font-size: 18px;
      line-height: 27px;
      margin-bottom: 27px; }
    .people-slider__dots {
      font-size: 18px;
      line-height: 27px;
      margin: 0 74px; }
    .people-slider .owl-dot {
      margin: 0 9px; } }
  @media screen and (max-width: 1439px) {
    .people-slider__slide {
      -webkit-background-size: 600px 600px;
              background-size: 600px;
      padding-right: 84px;
      padding-left: 120px;
      height: 600px; }
    .people-slider__img img {
      height: 439px; }
    .people-slider__desc-wrapper {
      height: 202px; }
    .people-slider__header {
      font-size: 48px;
      line-height: 58px; }
    .people-slider__desc p {
      font-size: 14px;
      line-height: 24px; }
    .people-slider__dots {
      margin: 0 47px; }
    .people-slider .owl-dot {
      font-size: 14px;
      line-height: 35px; }
    .people-slider__header {
      margin-bottom: 21px; }
    .people-slider__position {
      margin-bottom: 52px; }
    .people-slider__nav {
      margin-top: 15px;
      margin-left: 46px; } }
  @media screen and (max-width: 1023px) {
    .people-slider__slide {
      height: auto;
      min-height: 600px;
      -webkit-background-size: 600px 600px;
              background-size: 600px;
      background-position: center center; }
    .people-slider__img img {
      height: 414px; }
    .people-slider__header {
      margin-bottom: 29px; }
    .people-slider__dots {
      margin: 0 20px; }
    .people-slider .owl-dot {
      margin: 0 7px; }
    .people-slider__nav {
      margin-left: 38px; }
    .people-slider__desc-wrapper {
      height: 396px; }
    .people-slider__desc p {
      margin-bottom: 23px; } }
  @media screen and (max-width: 767px) and (min-width: 0px) {
    .people-slider {
      padding-top: 48px; }
      .people-slider__slide {
        min-height: auto;
        display: block;
        -webkit-background-size: 237px auto;
                background-size: 237px auto;
        background-position: center 75px;
        padding: 90px 20px 0 20px; }
      .people-slider__img {
        width: 100%;
        padding-top: 14px; }
        .people-slider__img img {
          height: 237px;
          margin: 0 auto; }
      .people-slider__header {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        font-size: 32px;
        line-height: 35px;
        margin: 0;
        width: 200px; }
      .people-slider__position {
        position: absolute;
        left: 0;
        top: 76px;
        width: 100%;
        font-size: 13px;
        line-height: 27px;
        margin: 0; }
      .people-slider__content {
        position: static; }
      .people-slider__nav {
        position: absolute;
        left: 0;
        top: 248px;
        width: 100%;
        z-index: 100;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between;
        margin: 0;
        padding: 0 20px;
        font-size: 25px; }
      .people-slider .owl-prev .icon {
        -webkit-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
                transform: rotate(90deg); }
      .people-slider .owl-next .icon {
        -webkit-transform: rotate(-90deg);
            -ms-transform: rotate(-90deg);
                transform: rotate(-90deg); }
      .people-slider__content {
        width: 100%;
        margin-top: 28px;
        padding: 0 0 0 20px; }
      .people-slider__desc-wrapper {
        height: auto;
        overflow: visible; }
      .people-slider__desc {
        position: static;
        margin: 0;
        padding: 0;
        overflow: visible; }
        .people-slider__desc p {
          padding: 0; } }
